<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat Da Burger</title>
  
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  
  <link href="https://fonts.googleapis.com/css?family=Lato|Slabo+27px" rel="stylesheet">
</head>
<body>
  {{{ body }}}
</body>
</html>
